<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <ul>
            <li>{{people[0]}}</li>
            <li>{{people[1]}}</li>
            <li>{{people[2]}}</li>
        </ul>
        <hr>
        <ul>
            <li v-for="item in people">{{item}}</li>
        </ul>
        <hr>
        <ul>
            <li v-for="(item, ind) in people">{{ind +1}} - {{item}}</li>
        </ul>
        <hr>
        <ul>
            <li v-for="item in people2">{{item.name}} - {{item.age}}</li>
        </ul>
        <hr>
        <ul>
            <li v-for="item in 3">{{item}}</li>
        </ul>
        <hr>
        <ul>
            <li v-for="item in 3">{{item}}</li>
        </ul>
        <hr>
        <ul>
            <li v-for="(val, keu, index) in person">{{index}}. {{key}} - {{val}}</li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script>
    new Vue({
        el: '#app',
        data: {
            people: [
                'Vlad', 'Max', 'Elena'
            ],
            people2: [
                {name: 'Vlad', age: 20},
                {name: 'Max', age: 25},
                {name: 'Elena', age: 30},
            ],
            person: {
                name: 'Max',
                age: 25,
                job: 'frontEnd'
            }
        }
    })
    </script>
</body>
</html>
